{{ define "main" }}
<div class="home">
  <section class="hero">
    <p class="hero-tagline">{{ site.Params.description }}</p>
  </section>

  <h2 class="post-list-heading">Posts</h2>
  <ul class="post-list">
    {{- range where site.RegularPages "Section" "posts" -}}
    <li>
      <span class="post-meta">{{ .Date.Format "Jan 2, 2006" }}</span>
      <h3>
        <a class="post-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
      </h3>
    </li>
    {{- end -}}
  </ul>

  <p class="rss-subscribe">
    <a href="{{ "index.xml" | absURL }}">RSS</a>
  </p>
</div>
{{ end }}
