<head>
  {{- partial "gtm-head.html" . -}}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} | {{ site.Title }}{{ end }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ site.Params.description }}{{ end }}">
  <link rel="stylesheet" href="{{ "css/style.css" | absURL }}">
  {{- range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" title="%s" href="%s" />` .Rel .MediaType.Type $.Site.Title .Permalink | safeHTML }}
  {{- end -}}
</head>
